$font-file-path: '/assets/fonts';

@use '@lukso/web-components/tools/sass/main.scss';
@import '@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&display=swap');
  
body {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate 2s linear infinite;
}